<p>
  employee works!
</p>
<table border ="10">
    <tr>
      <th>ID</th><th>Name</th><th>MobileNo</th><th>DateofJoining</th><th>LeaveBal</th><th>ManagerId</th><th>Email</th><th>Dept</th>
    </tr>
    <tr *ngFor = "let employee of employes | async">
      <td>{{employee.empId}}</td>
      <td>{{employee.empFullName}}</td>
      <td>{{employee.empMobileNo}}</td>
      <td>{{employee.empDateOfJoining}}</td>
      <td>{{employee.empLeaveBalance}}</td>
      <td>{{employee.empManagerId}}</td>
      <td>{{employee.empEmailId}}</td>
      <td>{{employee.empDepartment}}</td>
      <input type="button" value="login" (click)="login(employee.empId,employee.empManagerId)" />
    </tr>
  
  </table>
